<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pinggang Pinoy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/s-style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <div class="page-wrapper slide-in-left">


        <div class="main">
            <div class="m-text">Pinggang Pinoy</div>
            <aside>
                <div class="log-in">
                    <form method="POST" action="{{ url_for('signup') }}" class="login-box">
                        <h2>Sign Up</h2>

                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
{% if error %}
    <p style="color: whitesmoke; font-weight: bold;">{{ error }}</p>
  {% endif %}
                        <button type="submit" class="button">Sign Up</button>

                        <p class="signup-text">
                            Already have an account?
                            <span><a href="{{ url_for('login') }}" onclick="slideToLogin(event)">Log In</a>

                            </span>
                        </p>
                    </form>
                </div>

            </aside>


            <div class="aside-content">
                <div class="text-content">
                    <div class="aside-text">Welcome to Pinggang Pinoy</div>
                    <div class="aside-text1">
                        You're currently on the Sign-Up page. Create your account now and join us
                        towards our mission to provide healthy foods!
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function slideToLogin(e) {
            e.preventDefault();
            const page = document.querySelector('.page-wrapper');
            page.classList.add('slide-out-left');

            setTimeout(() => {
                window.location.href = e.target.href;
            }, 600);
        }

    </script>


</body>

</html>